@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 height: 100%;
  margin: 0;
  padding: 0;
  background: #FFE9EA;
  background: linear-gradient(100deg, #ffe9ea 0%, #ffdbdb 20%);
  color: #434857;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Playfair Display', 'Roboto';
}
